/* Tout */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



/* ------- Responsive ------- */
/* --- de 0 à 767 px --- */

main {
    display: flex;
    flex-direction: column;
    font-size: 14px; 
    margin: 15px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
    padding-bottom: 10px;
}

.bloc-title {
    margin-top: 20px;
}

.bloc-content {
    margin: 10px 20px 0px 20px;
}

.bloc-text {
    background-color: #FB929E;
    color: #FFFFFF;
    padding: 15px;
    text-align: left;
}

.room-1, .room-2 {
    margin: 20px;
}

img {
    width: 100%;
    object-fit: cover;
}

.room-1 img,
.room-2 img {
    vertical-align: top;
}

.infos {
  padding: 5px 0px 10px 0px;
}

.infos div {
    padding: 2px 0px 2px 0px;
}

.hr-1 {
    border: none;
}

.hr-2 {
    border: none;
    border-top: 1px solid #ffffff80;
}

.price {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.price-big {
    font-size: 26px;
    font-weight: bold;
    padding: 0;
}

button {
    padding: 12px 15px 12px 15px;
}

.button-details {
    align-items: center;
    background-color: #FEEBED;
    color: #FB929E;
    display: flex;
}

.button-details:hover {
    background-color: #2d7daa;
    border-color: #FEEBED;
    color: #FEEBED;
}

.little-line {
    height: 2px;
    background-color: #FB929E;
    width: 20px;
    margin-right: 10px;
}

.bloc-btn-center {
    display: flex;
    justify-content: center;
}

.button-global {
    align-items: center;
    background-color: #FE6C7D;
    color: #FFFFFF;
    display: flex;
    margin: 0px 10px 0px 10px;
}

.little-line-2 {
    height: 2px;
    background-color: #FEEBED;
    width: 20px;
    margin-right: 10px;
}

.button-global:hover {
    background-color: #2d7daa;
    color: #FB929E;
}




/* ------- Responsive ------- */
/* --- de 768 à l'infini et l'au delà --- */

@media (min-width: 768px)  {
    main {
        font-size: 16px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 40px;
        padding-right: 30px;
    }

    .bloc-text {
        padding: 60px;
    }

    .price {
        padding: 15px 0px 15px 0px;
    }

    .infos {
        padding: 15px 0px 15px 0px;
    }

    .infos div {
        padding: 5px 0px 5px 0px;
    }

    .room-1 {
        display: flex;
        flex-direction: row;
    }

    .room-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    img, .bloc-text {
        width: 50%;
    }
}